<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ResourceCategoryMapper">
    <insert id="addResourceCategory" parameterType="org.example.entity.ResourceCategory">
        INSERT INTO resource_category(id, name, sort)
        VALUES (#{id}, #{name}, #{sort})
    </insert>

    <insert id="updateResourceCategory" parameterType="org.example.entity.ResourceCategory">
        UPDATE resource_category
        SET name = #{name},
            sort = #{sort}
        WHERE id = #{id}
    </insert>
</mapper>