<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.RoleMenuRelationMapper">
    <insert id="addRoleMenuRelation" parameterType="org.example.entity.RoleMenuRelation">
        INSERT INTO role_menu_relation(id, role_id, menu_id)
        VALUES (#{id}, #{roleId}, #{menuId})
    </insert>

    <select id="getRoleMenuRelations" parameterType="java.lang.String" resultType="org.example.entity.RoleMenuRelation">
        SELECT rmr.*
        FROM role_menu_relation rmr
             LEFT JOIN user_role_relation urr ON rmr.role_id = urr.role_id
        WHERE urr.user_id = #{userId}
    </select>

    <delete id="deleteRoleMenuRelationByRoleId" parameterType="java.lang.String">
        DELETE
        FROM role_menu_relation
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuRelationByMenuId" parameterType="java.lang.String">
        DELETE
        FROM role_menu_relation
        WHERE menu_id = #{menuId}
    </delete>
</mapper>