<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.RoleResourceRelationMapper">
    <insert id="addRoleResourceRelation" parameterType="org.example.entity.RoleResourceRelation">
        INSERT INTO role_menu_relation(id, role_id, menu_id)
        VALUES (#{id}, #{roleId}, #{menuId})
    </insert>

    <select id="getRoleResourceRelations" parameterType="java.lang.String" resultType="org.example.entity.RoleResourceRelation">
        SELECT rrr.*
        FROM role_resource_relation rrr
             LEFT JOIN user_role_relation urr ON rrr.role_id = urr.role_id
        WHERE urr.user_id = #{userId}
    </select>

    <select id="getAllRoleResourceRelationList" resultType="org.example.entity.RoleResourceRelation">
        SELECT *
        FROM role_resource_relation
    </select>
</mapper>